@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.ttf');
}

* {
    font-family: 'JetBrains Mono', 'Sans serif';
}

body {
    background-color: #E7EDFF;
}

@screen md {
    .tablet {
        @apply w-[60%] h-[500px];
    }
}

@screen lg {
    .laptop {
        @apply w-[45%];
    }
}

@screen xl {
    .pc {
        @apply w-[30%];
    }
}
