<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" href="/output.css" />
  </head>
  <body>
    <header
      class="font-extrabold text-white text-4xl h-60 w-screen bg-primary-color flex items-center justify-center"
    >
      TODO APP
    </header>

    <form
      th:action="@{/users/login}"
      method="post"
      class="bg-white flex flex-col items-center justify-between text-primary-color w-[80%] h-[430px] border border-primary-color rounded-lg m-auto -translate-y-7"
    >
      <h3 class="text-xl mt-5">Iniciar Sesion</h3>

      <p th:if="${param.error}" class="text-red-400 text-xs">
        Usuario o contraseña incorrectos.</p>
        <p th:if="${param.accountNotConfirmed}" class="text-red-400 text-xs">
        Tu cuenta aun no esta confirmada.</p>
      <p th:if="${param.logout}" class="text-red-400 text-xs">
        Has cerrado sesion correctamente.</p>
        <p th:if="${param.isConfirmed}" class="text-green-700 text-xs">
          Tu cuenta ha sido confirmada con exito.</p>

      <div class="w-[80%] flex flex-col place-content-center mb-16 gap-3 text-xs">
        <input
          class="bg-bg-inputs rounded-md placeholder:text-primary-color placeholder:p-0 p-2 focus:outline-color-task"
          type="text"
          name="username"
          placeholder="Usuario o correo:"
        />
        <input
          class="bg-bg-inputs rounded-md placeholder:text-primary-color placeholder:p-0 p-2 outline-color-task"
          type="password"
          name="password"
          placeholder="Contraseña:"
        />
        <button
          class="bg-primary-color text-white rounded-md p-2 hover:bg-color-task"
          type="submit"
        >
          Aceptar
        </button>
        <div>
          <p class="mb-2">¿Olvidaste tu contraseña?</p>
          <p>¿No tienes cuenta? <strong><a th:href="@{/users/register}">Registrate!</a></strong></p>
        </div>
      </div>
    </form>
  </body>
</html>
