<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis tareas</title>
    <link rel="stylesheet" type="text/css" href="/output.css" />
  </head>
  <body>
    <header
      class="text-white text-4xl h-60 w-screen bg-primary-color flex flex-col items-center justify-center"
    >
      <p class="mt-9 mb-7 font-extrabold">TODO APP</p>

      <nav class="text-xs text-center">
        <ul class="flex flex-col gap-3">
          <li
            th:text="${'Mi usuario: '}+${userFinal.username}"
            class="border-y border-y-color-task"
          ></li>
          <li class="border-y border-y-color-task">
            <a th:href="@{/users/edit(id=${userFinal.id})}">
              Mi cuenta
            </a>
          </li>
          <li
            class="p-1 rounded-xl hover:bg-color-task border-2 border-color-task"
          >
            <a th:href="@{/logout}">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="text-center">
      <button
        class="m-auto flex justify-center bg-color-task p-1 text-white mt-2 text-xs w-36 rounded-xl relative hover:bg-primary-color"
      >
        <a th:href="@{/tasks/create(id=${userFinal.id})}"> Crear tarea </a>
      </button>
      <p
        th:if="${userFinal.list.size() > 0}"
        class="text-color-task text-sm mt-5 mb-5"
        th:text="${'Tareas completadas: '}+${countTaskComplete}"
      ></p>
      <p
        th:if="${userFinal.list.size() == 0}"
        class="text-color-task text-sm mt-5 mb-5"
      >
        Aun no existe ninguna tarea :C
      </p>
      <section
        class="w-4/5 flex flex-wrap text-xs justify-center m-auto"
        th:if="${userFinal.list.size() > 0}"
      >
        <a
          th:href="@{/tasks(complete=false)}"
          class="flex-1 text-color-task bg-white p-1"
        >
          Tareas incompletas
        </a>
        <a th:href="@{/tasks}" class="flex-1 bg-color-task text-white p-1">
          Todas las tareas
        </a>
        <a
          th:href="@{/tasks(complete=true)}"
          class="flex-1 text-color-task bg-white p-1"
        >
          Tareas completadas
        </a>
        <a
          class="w-[100px] bg-color-task text-white p-2 mt-2"
          th:href="@{/tasks/deleteTasks(id=${userFinal.id})}"
        >
          Borrar tareas
        </a>
      </section>
      <section class="w-4/5 m-auto mt-5 grid grid-cols-1 gap-3">
        <article
          class="bg-white flex flex-col text-xs rounded-br-md break-words"
          th:if="${userFinal.list.size() > 0}"
          th:each="task : ${tasks}"
          th:style="${task.isCompleted} ? 'opacity: 0.5' : ''"
        >
          <div
            class="bg-color-task text-white flex justify-between items-center gap-4 p-3"
          >
            <span class="bg-color-task text-white font-bold p-1 rounded-tl-md">
              <p class="font-extrabold text-white" th:text="${task.title}"></p>
            </span>
            <div>
              <button type="submit" class="text-white">
                <a th:href="@{/tasks/delete(id=${task.id})}" class="text-white">
                  <img class="text-white" src="/bx-task-x.svg" alt="delete" />
                </a>
              </button>

              <button>
                <a th:href="@{/tasks/edit(id=${task.id})}">
                  <img src="/bx-edit.svg" alt="edit image" />
                </a>
              </button>
              <button th:if="${!task.isCompleted}">
                <a th:href="@{/tasks/complete(id=${task.id})}">
                  <img src="/bx-check.svg" alt="complete" />
                </a>
              </button>
            </div>
          </div>
          <p
            class="text-color-task text-left p-3"
            th:text="${task.description}"
          ></p>
        </article>
      </section>
    </main>
  </body>
</html>
