<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis tareas</title>
    <link rel="stylesheet" type="text/css" href="/output.css" />
  </head>
  <body>
    <header
      class="text-white text-4xl h-60 w-screen bg-primary-color flex flex-col items-center justify-center"
    >
      <p class="mt-9 mb-7 font-extrabold">TODO APP</p>

      <nav class="text-xs text-center">
        <ul class="flex flex-col gap-3">
          <li
            th:text="${'Mi usuario: '}+${userFinal.username}"
            class="border-y border-y-color-task"
          ></li>
          <li class="border-y border-y-color-task">Mi cuenta</li>
          <li class="bg-color-task p-1">
            <a th:href="@{/users/login}">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="text-center">
      <button class="bg-color-task p-1 text-white mt-2 text-xs w-36">
        <a th:href="@{/tasks/create}"> crear tarea </a>
      </button>
      <p
        th:if="${userFinal.list.size() > 0}"
        class="text-color-task text-sm mt-5 mb-5"
      >
        Tareas completadas: 1
      </p>
      <p
        th:if="${userFinal.list.size() == 0}"
        class="text-color-task text-sm mt-5 mb-5"
      >
        Aun no existe ninguna tarea :C
      </p>
      <section
        class="w-4/5 flex flex-wrap text-xs justify-center m-auto"
        th:if="${userFinal.list.size() > 0}"
      >
        <span class="flex-1 text-color-task bg-white p-1">
          Tareas incompletas
        </span>
        <span class="flex-1 bg-color-task text-white p-1">
          Todas las tareas
        </span>
        <span class="flex-1 text-color-task bg-white p-1">
          Tareas completadas
        </span>
        <span class="w-[100px] bg-color-task text-white p-2 mt-2">
          Borrar tareas
        </span>
      </section>
      <section class="w-4/5 m-auto mt-5 grid grid-cols-2 gap-3">
        <article
          class="bg-white flex flex-col text-xs rounded-br-md w-full break-words"
          th:if="${userFinal.list.size() > 0}"
          th:each="task : ${userFinal.list}"
        >
          <span class="bg-color-task text-white font-bold p-1 rounded-tl-md">
            <p class="font-extrabold text-white" th:text="${task.title}"></p>
          </span>
          <p
            class="text-color-task text-left p-3"
            th:text="${task.description}"
          ></p>
        </article>
      </section>
    </main>

    <!-- <form method="post" th:object="${userEntity}" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" th:field="${userEntity.username}">
        <label for="password">Password</label>
        <input type="password" th:field="${userEntity.password}">
        <button type="submit">Aceptar</button>
    </form> -->
  </body>
</html>
